@model IEnumerable<DoAnLTWEB.Models.BaiGiang>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bài giảng</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/styleLesson.css" rel="stylesheet">
</head>
<body>
    <section class="course_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="content_wrapper">
                        <h4 class="title">Nội dung khóa học</h4>
                        <div class="content">
                            <ul class="course_list">
                                @foreach (var baiGiang in Model)
                                {
                                    <li class="justify-content-between align-items-center d-flex">
                                        <p><b>@baiGiang.ThuTuBaiHoc .</b> @baiGiang.TieuDeBG</p>
                                        <a href="/Lesson/LessonDetail?MaBG=@baiGiang.MaBG" class="btn_2 text-uppercase">Xem chi tiết</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 right-contents">
                    @if (Model.Count() > 0)
                    {
                        <div class="sidebar_top">
                            <ul>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Tên khóa học</p>
                                        <span class="color">@Model.First().KhoaHoc.TenKH</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Giảng Viên </p>
                                        <span>@Model.First().KhoaHoc.GiangVien</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Giá </p>
                                        <span>@Model.First().KhoaHoc.GiaKhoaHoc</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Ngày bắt đầu </p>
                                        <span>@String.Format("{0:dd/MM/yyyy}", Model.First().KhoaHoc.NgayBD)</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Ngày kết thúc </p>
                                        <span>@String.Format("{0:dd/MM/yyyy}", Model.First().KhoaHoc.NgayKT)</span>
                                    </a>
                                </li>

                            </ul>
                            <a href="#" class="btn_1 d-block">Đăng ký khóa học</a>
                        </div>
                    }

                    <h4 class="title">Đánh giá</h4>
                    <div class="content">
                        <div class="feedeback">
                            <h6>Nhận xét của bạn</h6>
                            <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                            <div class="mt-10 text-right">
                                <a href="#" class="btn_1">Gửi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
